In [8]:
#Baby program # loop

In [12]:
from random import choice 

list_of_qus = ['What is moon?;','What is python?:','do you love me?:']

select_of_qus = choice(list_of_qus)

A = True

while A:
    print(select_of_qus)
    
    a1 = input('''Would you like to enter another choice ('Y'/'y'):''').strip().upper()
    
    if a1 == 'Y':
        A = True 
    else:
        A = False

do you love me?:
Would you like to enter another choice ('Y'/'y'):y
do you love me?:
Would you like to enter another choice ('Y'/'y'):g

In [17]:
#for loop 
for i in range(1,11):
    print(i)

print('*'*20)

for i in range(1,21,2):
    print(i)

1
2
3
4
5
6
7
8
9
10
********************
1
3
5
7
9
11
13
15
17
19

In [14]:
list1 = ['aa',4,'tt',555,11,'tt']

for C in list1:
    print(C)

aa
4
tt
555
11
tt

In [36]:
# detect number of vowel and consonents

word = input(' Enter a word :').strip()

vowel = 0
consonent = 0 
space = 0 
all_vowel = []
all_conso = []

for letter in word:
    print(letter)
    if letter.lower() in 'aeiou':
        vowel = vowel + 1
        all_vowel.append(letter.lower())
    elif letter.lower() == " ":
        space = space + 1
    else:
        consonent =  consonent + 1
        all_conso.append(letter.lower())
        
print('vowel = {1} and consonent = {0}'.format(consonent,vowel))
print(space)
print(all_vowel)
print(all_conso)
print(space)

 Enter a word :Aldje. afsifjddsgnig. gsdgdkjd idigdkgn sgf
A
l
d
j
e
.

a
f
s
i
f
j
d
d
s
g
n
i
g
.

g
s
d
g
d
k
j
d

i
d
i
g
d
k
g
n

s
g
f
vowel = 7 and consonent = 32
4
['a', 'e', 'a', 'i', 'i', 'i', 'i']
['l', 'd', 'j', '.', 'f', 's', 'f', 'j', 'd', 'd', 's', 'g', 'n', 'g', '.', 'g', 's', 'd', 'g', 'd', 'k', 'j', 'd', 'd', 'g', 'd', 'k', 'g', 'n', 's', 'g', 'f']
4

In [37]:
# Student with a name, which contains 'a'. 

student = { "Male": ['Tom','Ambarish','Dick','Harry','Sam','olos'],
            "Female": ['Jenney','Jane','Love','Ira','Kulu','Zimbuba']}

# keys

for keys in student.keys():
    print(keys)

Male
Female

In [38]:
#values

for value in student.values():
    print(value)

['Tom', 'Ambarish', 'Dick', 'Harry', 'Sam', 'olos']
['Jenney', 'Jane', 'Love', 'Ira', 'Kulu', 'Zimbuba']

In [39]:
# items

for item in student.items():
    print(item)

('Male', ['Tom', 'Ambarish', 'Dick', 'Harry', 'Sam', 'olos'])
('Female', ['Jenney', 'Jane', 'Love', 'Ira', 'Kulu', 'Zimbuba'])

In [45]:
for keys in student.keys():
    print(student[keys])
    for name in student[keys]:
        print('name:{}'.format(name))
    print('%#$'*35)

['Tom', 'Ambarish', 'Dick', 'Harry', 'Sam', 'olos']
name:Tom
name:Ambarish
name:Dick
name:Harry
name:Sam
name:olos
%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$
['Jenney', 'Jane', 'Love', 'Ira', 'Kulu', 'Zimbuba']
name:Jenney
name:Jane
name:Love
name:Ira
name:Kulu
name:Zimbuba
%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$%#$

In [48]:
# List Comprehension 

even_number = [x for x in range(1,501) if x%2 ==0]
print(even_number)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500]

In [51]:
odd_number = [x for x in range(1,501) if x%2 ==1]
print(odd_number)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499]

In [63]:
# print the name only if word contain vowels

A = ['Tom','Ambarish','Dick','Harry','Sam','olos','kkkkfdf','kdfdsjfk','fdjsfhdjhf']

list = [[a.upper(),len(a)] for a in A for w in a if w in 'aeiou']
print(list)
print('*'*77)
c=0
list1 = [[b.lower(),len(b)] for b in A for b1 in b if b1 not in 'aeiou']
print(list1)

[['TOM', 3], ['AMBARISH', 8], ['AMBARISH', 8], ['DICK', 4], ['HARRY', 5], ['SAM', 3], ['OLOS', 4], ['OLOS', 4]]
*****************************************************************************
[['tom', 3], ['tom', 3], ['ambarish', 8], ['ambarish', 8], ['ambarish', 8], ['ambarish', 8], ['ambarish', 8], ['ambarish', 8], ['dick', 4], ['dick', 4], ['dick', 4], ['harry', 5], ['harry', 5], ['harry', 5], ['harry', 5], ['sam', 3], ['sam', 3], ['olos', 4], ['olos', 4], ['kkkkfdf', 7], ['kkkkfdf', 7], ['kkkkfdf', 7], ['kkkkfdf', 7], ['kkkkfdf', 7], ['kkkkfdf', 7], ['kkkkfdf', 7], ['kdfdsjfk', 8], ['kdfdsjfk', 8], ['kdfdsjfk', 8], ['kdfdsjfk', 8], ['kdfdsjfk', 8], ['kdfdsjfk', 8], ['kdfdsjfk', 8], ['kdfdsjfk', 8], ['fdjsfhdjhf', 10], ['fdjsfhdjhf', 10], ['fdjsfhdjhf', 10], ['fdjsfhdjhf', 10], ['fdjsfhdjhf', 10], ['fdjsfhdjhf', 10], ['fdjsfhdjhf', 10], ['fdjsfhdjhf', 10], ['fdjsfhdjhf', 10], ['fdjsfhdjhf', 10]]